@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("../fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}

html{
    font: 100%;
}

body{
    color: var(--secondary);
    background-color: var(--base);
    font-family: "roboto";
    line-height: 1.3;

    padding: 10vw 20vw 10vw 20vw;
}

button{
    background-color: transparent;
    border: none;
    color: var(--secondary);
}


button:focus {
    border: none;
    outline: none;
}

h1{ 
    font-size: clamp(1.2rem, 4vw, 4rem);
}

#socialBar{
    display: flex;
    margin: 2rem 0 5vh 0;   

    font-size: 1.2rem;

    justify-content: center;
}

#backButtonContainer{
    margin-bottom: 7vh; 
    margin-top: 7vh;
}

@media (orientation:portrait){
    #socialBar{
        font-size: 3rem;
        margin-top: 5vh;
    }

    #backButtonContainer{
        font-size: 3rem;
    }
}
