#Title{ 
    font-size: 2rem;
    text-align: left;
    margin-bottom: 2rem;

    max-width: 15vw;

    border-bottom: 2px solid var(--secondary);

    transition: background-color 0.5s;

}

#Title:hover{
    background-color: var(--highlight);
    color: var(--base);

    border-bottom: 2px solid var(--highlight);
}

.subTitle{
    font-size: 60%;
    padding-top: 10;
    margin-bottom: 10;
}

.textBox{
    text-align: left;
    font-size: clamp(1rem, 1.2vw, 3rem);
}


#mainContent{
    display: flex;
    flex-direction: row;

    margin-top: 1rem;
}

#sideText{
    margin-left: 2rem;
}

#profileImageContainer{
    min-width: 20vw; 
    height: 20vw; 

    margin-left: 0.5rem;
}

#galleryButton{
    margin-top: 5vh;
}

.profileImage{
    object-fit: cover; 
    width: 100%; 
    height:100%
}

@media (orientation:portrait){
    body{
        padding: 5vw;
    }

   #Title{
        font-size: 5rem;
        text-align: left;
        margin-bottom: 2rem;
        max-width: 80vw;

        border-bottom: 2px solid var(--secondary);

        transition: background-color 0.5s;
   }

   .textBox{
        text-align: left;
        font-size: 3rem;
   }

   #mainContent{
    flex-direction: column;
   }

   #sideText{
    margin-left: 0;
   }

   #galleryButton{
        text-align: center;
    }

    #profileImageContainer{
        height: auto;
        padding: 10px;
        margin-bottom: 5vh; 
    }
}



